@import './../../App.scss';
.container{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.buttonWrapper{
  display: flex;
  gap: 15px;
}
.addInput{
  border: 1px solid transparent;
  padding: 10px 15px;
  outline: none;
  transition: .3s;
  &:active{
    border: 1px solid $color3;
  }
  &:focus{
    border: 1px solid $color3;
  }
}